Repository rainlabs-eu/embedded-basic: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, clang-tidy

clang-format:
  name: Run Clang Format
  language: system
  entry: clang-format
  args:
  - -style=file
  - -i

clang-tidy:
  name: Run Clang Tidy
  language: system
  verbose: true
  entry: 'bash -c '' BUILD=$(find -type f -name compile_commands.json -printf "%h" -quit) && clang-tidy -p "$BUILD" -fix "$0" "$@"''
  
    '

Missing include on g++6
  rlib/include/rlib/placement_new_polymorphic_store.h
Due: clang-format

Align naming with Google style
  rlib/include/rlib/detail/placement_new_storage_base.h
  rlib/include/rlib/placement_new_polymorphic_store.h
  rlib/include/rlib/placement_new_store.h
  rlib/src/placement_new_storage_base.cpp
Due: clang-format, clang-tidy

Add CCITT 0xFFFF variant of CRC
  CMakeLists.txt
  rlib-tests/src/crc16_tests.cpp
  rlib/include/rlib/crc16.h
  rlib/src/crc16.cpp
Due: clang-format, clang-tidy

Improve CRC handling
  rlib/src/crc16.cpp
Due: clang-format, clang-tidy

Add universal placement new storage, improve naming
  rlib-tests/src/placement_new_tests.cpp
  rlib/include/rlib/detail/placement_new_storage_base.h
  rlib/include/rlib/placement_new_polymorphic_store.h
  rlib/include/rlib/placement_new_typed_store.h
  rlib/include/rlib/placement_new_universal_store.h
  rlib/src/placement_new_storage_base.cpp
  rlib/src/placement_new_store.cpp
  rlib/src/placement_new_typed_store.cpp
  rlib/src/placement_new_universal_store.cpp
Due: clang-format, clang-tidy

Fix CRC asserts to handle empty array case
  rlib/src/crc16.cpp
Due: clang-format, clang-tidy

Fix missing include needed for GCC 6
  rlib/include/rlib/placement_new_universal_store.h
Due: clang-format

Update build-and-test.yml
  .github/workflows/build-and-test.yml
Due: none

More verbose searching for boost
  CMakeLists.txt
Due: none

Improve compatibility with Google Coding Standard
  rlib/include/rlib/detail/placement_new_instance_storage.h
  rlib/include/rlib/placement_new_polymorphic_store.h
  rlib/include/rlib/placement_new_typed_store.h
  rlib/include/rlib/placement_new_universal_store.h
  rlib/src/placement_new_instance_storage.cpp
  rlib/src/placement_new_storage_base.cpp
Due: clang-format, clang-tidy

Make testing configurable
  CMakeLists.txt
Due: none

Fix quality issues for Wall/Wextra
  rlib-tests/src/placement_new_tests.cpp
  rlib/include/rlib/bitconverter.impl.h
Due: clang-format, clang-tidy

Split standalone and subprojects usecases
  CMakeLists.txt
Due: none

Add missing bitconverter
  rlib/include/rlib/bitconverter.h
  rlib/include/rlib/bitconverter.impl.h
Due: clang-format

Make it easier to use PolyStore
  rlib/include/rlib/placement_new_polymorphic_store.h
  rlib/include/rlib/placement_new_typed_store.h
  rlib/include/rlib/placement_new_universal_store.h
Due: clang-format

Add dedicated shared and static libs
  rlib-tests/CMakeLists.txt
  rlib/CMakeLists.txt
Due: none

Add operator-> in PlacementNewPolymorphicStore
  rlib/include/rlib/placement_new_polymorphic_store.h
Due: clang-format

Add functions for byte manipulation
  rlib/include/rlib/bitconverter.h
  rlib/include/rlib/bitconverter.impl.h
Due: clang-format

Added boost-msvc-14.2 dependency to build-windows action
  .github/workflows/build-and-test.yml
Due: none

Added build status badge
  README.md
Due: none

Fixed compilation for MSVC
  CMakeLists.txt
  rlib-tests/src/bitconverter_float_tests.cpp
  rlib-tests/src/bitconverter_to_be_range_tests.cpp
  rlib-tests/src/crc16_tests.cpp
  rlib/include/rlib/bitconverter.impl.h
Due: clang-format, clang-tidy

Update LICENSE
  LICENSE
Due: none

Android soong buildsystem file
  Android.bp
Due: none

Update soong library target to be available in recovery. Fix typos.
  Android.bp
Due: none

Path conditions:
  clang-format: any of: \.[ch](pp|xx|\+\+)?$
  clang-tidy: any of: \.[c](pp|xx|\+\+)?$
