Repository rainlabs-eu/embedded-basic: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, clang-tidy

clang-format:
  name: Run Clang Format
  language: system
  entry: clang-format
  args:
  - -style=file
  - -i

clang-tidy:
  name: Run Clang Tidy
  language: system
  verbose: true
  entry: 'bash -c '' BUILD=$(find -type f -name compile_commands.json -printf "%h" -quit) && clang-tidy -p "$BUILD" -fix "$0" "$@"''
  
    '

Add missing static inline to declaration / imlementations
  rlib/include/rlib/bitconverter.h
  rlib/include/rlib/bitconverter.impl.h
Due: clang-format

Add range support for storing 33-64 bit length data
  rlib/include/rlib/bitconverter.h
  rlib/include/rlib/bitconverter.impl.h
Due: clang-format

Create build-and-test.yml
  .github/workflows/build-and-test.yml
Due: none

Create build-and-test.yml (#1)
  .github/workflows/build-and-test.yml
Due: none

Update build-and-test.yml
  .github/workflows/build-and-test.yml
Due: none

Add reference to google test module
  .gitmodules
Due: none

Replace non standard M_PI constant with its value
  rlib-tests/bitconverter/float_tests.cpp
Due: clang-format, clang-tidy

Allow using CTest as test driver for embedded GTest testcases
  CMakeLists.txt
  rlib-tests/CMakeLists.txt
Due: none

Reduce cmake expectations to 3.13
  CMakeLists.txt
  rlib-tests/CMakeLists.txt
Due: none

Disable installing gtest
  CMakeLists.txt
  rlib-tests/CMakeLists.txt
Due: none

Fix testing
  CMakeLists.txt
  rlib-tests/CMakeLists.txt
Due: none

Create Dockerfile
  .github/workflows/Dockerfile
Due: none

Delete Dockerfile
  .github/workflows/Dockerfile
Due: none

Rename to trigger CI
  .github/workflows/build-and-test.yml
Due: none

Use first released action for verification
  .github/workflows/build-and-test.yml
Due: none

Fix environment for basic build / test
  .github/workflows/build-and-test.yml
Due: none

Add all suported compilers
  .github/workflows/build-and-test.yml
Due: none

Improve name
  .github/workflows/build-and-test.yml
Due: none

Declare tests to require C++ 11
  rlib-tests/CMakeLists.txt
Due: none

Add C++ standard for older compilers
  .github/workflows/build-and-test.yml
Due: none

Only leave working compilers in CI
  .github/workflows/build-and-test.yml
Due: none

Move unit tests to single directory
  rlib-tests/CMakeLists.txt
  rlib-tests/src/bitconverter_double_tests.cpp
  rlib-tests/src/bitconverter_float_tests.cpp
  rlib-tests/src/bitconverter_twos_complement_14bits_tests.cpp
  rlib-tests/src/bitconverter_twos_complement_24bits_tests.cpp
  rlib-tests/src/bitconverter_uint16_tests.cpp
  rlib-tests/src/bitconverter_uint32_tests.cpp
Due: clang-format, clang-tidy

Allow to use #include "module.h" in module.cpp
  rlib/CMakeLists.txt
  rlib/src/bitconverter.cpp
Due: clang-format, clang-tidy

Add CRC16 implementation
  rlib-tests/src/crc16_tests.cpp
  rlib/include/rlib/crc16.h
  rlib/src/crc16.cpp
Due: clang-format, clang-tidy

Add missing newline in git modules
  .gitmodules
Due: none

Add placement new wrapper
  rlib-tests/src/placement_new_tests.cpp
  rlib/CMakeLists.txt
  rlib/include/rlib/detail/placement_new_storage_base.h
  rlib/include/rlib/placement_new_polymorphic_store.h
  rlib/include/rlib/placement_new_store.h
  rlib/src/placement_new_polymorphic_store.cpp
  rlib/src/placement_new_storage_base.cpp
  rlib/src/placement_new_store.cpp
Due: clang-format, clang-tidy

Reflect CONFIGURE_DEPENDS usage in cmake version
  CMakeLists.txt
Due: none

Path conditions:
  clang-format: any of: \.[ch](pp|xx|\+\+)?$
  clang-tidy: any of: \.[c](pp|xx|\+\+)?$
